####
# Django 
####
*.log
*.pot
*.pyc
__pycache__/

####
# Environments
####
.venv/
venv/
.env/
env/


####
# Unit Test & 
# Coverage Reports
####
htmlcov/
.coverage
.pytest_cache

stripe.exe
**/stripe.exe


env/
.env/
